{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

<h1 class="text-center"> Bienvenue sur votre page d'administation  Mr {{ admin }}! </h1>
<div class="row">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Ajoutez des Produits</h5>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Accedez a vos Produits</h5>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Gestion de vos commandes</h5>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  </div>
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Gestion de vos utilisateurs</h5>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div>


{% endblock %}
